Assets/Resources/sqlpic/
Assets/Resources/sqlpic.meta
Assets/Pickture/
Assets/KaPai/uixing/
Library/
Temp/
Logs/
Packages/
.vs/
obj/
Assembly-CSharp.csproj
Assembly-CSharp-Editor-firstpass.csproj
Assembly-CSharp-firstpass.csproj
Reword.sln
exe/
aaa/
qq/
